<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.1.7100.0">
	<connectionStrings>
		<add connectionString="data source=DP-1WS328\MSSQLSERVER2016;UID=admin;PWD=admin;initial catalog=sfNuget" name="Sitefinity" />
	</connectionStrings>
</dataConfig>